<!-- main section -->
<div class="jumbotron">
  <div class="container">
    <div style="text-align:center;">
      <h1 class="display-1">Rakuten Ichiba API</h1></br>
      <p class="lead">楽天市場の商品を検索できます</div>
    <%= form_tag :rakuten_search, method: :get do  %>
      <%= text_field_tag 'keyword', params[:keyword], class: "form-control", placeholder: "キーワードから探す" %>
      <hr class="my-5">
      <div style="text-align:center;">
        <%= submit_tag "SEARCH" , class: "btn btn-outline-secondary btn-lg" %>
      </div>
    <% end %>
  </div>
</div>
<!-- table section -->
<table class="table" style="table-layout:fixed;">
  <thead>
    <tr>
      <th class="table-secondary" style="text-align:center;">product</th>
      <th class="table-secondary" style="text-align:center;">price</th>
      <th class="table-secondary" style="text-align:center;">image</th>
      <th class="table-secondary" style="text-align:center;">available</th>
    </tr>
  </thead>
  <tbody>
    <% if @items.present? %>
      <% @items.first(30).each do |item| %>
        <tr>
          <td style="vertical-align:middle;"><%= link_to item.name, "#{item.url}" %></td>
          <td style="text-align:center;">¥<%= number_with_delimiter(item.price) %></td> 
          <td style="text-align:center;"><%= image_tag item["smallImageUrls"][0] %></td>
          <td style="text-align:center;"><%= item.availability %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
