<!-- light section -->
<div class="jumbotron">
  <div class="container">
    <div style="text-align:center;">
      <h1 class="display-1">About</h1></br>
    </div>
    <div class="text-danger" style="text-align:center;">
      <p class="lead">-webサイトについて-</br>
    </div>
    <div style="text-align:center;">
      <p>本サイトは、私の転職用ポートフォリオとして作成しています
      <p>転載・悪用などはご遠慮ください
    </div>
    <div class="text-danger" style="text-align:center;">
      <p class="lead">-開発環境-</br>
    </div>
    <div style="text-align:center;">
      <p>ruby 2.6.3
      <p>rails 5.2.2
    </div>
    <div class="text-danger" style="text-align:center;">
      <p class="lead">-プロフィール-</br>
    </div>
    <div style="text-align:center;">
      <p>chake
      <p>元クレジットカード決済システム業務SE
      <p>WEBエンジニアになるためにRails勉強中
      <p>趣味はゲームと筋トレ
      <p>好きなアニメは名探偵コナン
    </div>
  </div>
</div>
