<div class="jumbotron">
  <div class="container">
    <div style="text-align:center;">
      <h1 class="display-1">Chake's Portfolio</h1></br>
      <p class="lead">優秀なWEBエンジニア目指してます</div>
    <hr class="my-5">
    <div style="text-align:center;">
      <a class="btn btn-outline-secondary btn-lg" href="about_us" role="button">Go to profile</a>
    </div>
  </div>
</div>
