<!-- light section -->
<div class="jumbotron">
  <div class="container">
    <div style="text-align:center;">
      <h1 class="display-1">Works</h1></br>
      <p class="lead">私が作成したアプリケーションを紹介します</div>
  </div>
</div>
<!-- main section -->
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="card-columns">
        <div class="card" style="width:20rem; height:18rem;">
          <div style="text-align:center;">
            <div class="card-header">Instagram clone</div>
          </div>
          <div class="card-body">
            Railsチュートリアルをベースとして、</br>
            インスタグラムのクローンサイトを作成しました。
          </div>
          <div style="text-align:center; padding-top:25px;">
            <a class="btn btn-outline-secondary btn-lg" href="https://immense-temple-25788.herokuapp.com" role="button" style="width:15rem;">application</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card-columns">
        <div class="card" style="width:20rem; height:18rem;">
          <div style="text-align:center;">
            <div class="card-header">solidus work</div>
          </div>
          <div class="card-body">
            ECサイトの構築、モデル、RSpecを学ぶためにsolidusを使用した課題を行いました。
          </div>
          <div style="text-align:center; padding-top:25px;">
            <a class="btn btn-outline-secondary btn-lg" href="https://bitbucket.org/chakenir/potepanec/src/master/" role="button" style="width:15rem;">Bit bucket</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card-columns">
        <div class="card" style="width:20rem; height:18rem;">
          <div style="text-align:center;">
            <div class="card-header">Rakuten Ichiba API</div>
          </div>
          <div class="card-body">
            楽天市場APIを使用して、</br>楽天市場ので商品を検索できるアプリを作成しました。
          </div>
          <div style="text-align:center; padding-top:25px;">
            <a class="btn btn-outline-secondary btn-lg" href="rakuten_search" role="button" style="width:15rem;">application</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
