<!-- HEADER -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a href="index.html" class="navbar-brand">
    Chake
    <%= image_tag '/icon.png' , size: '70x70'%>
  </a>

  <button class="navbar-toggler" type="button"
    data-toggle="collapse"
    data-target="#navmenu1"
    aria-controls="navmenu1"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navmenu1">
    <div class="navbar-nav w-100 nav-justified">
      <a class="nav-item nav-link" href="index.html">HOME</a>
      <a class="nav-item nav-link" href="about_us.html">ABOUT</a>
      <a class="nav-item nav-link" href="works">WORKS</a>
      <a class="nav-item nav-link" href="works">CONTACT</a>
    </div>
  </div>
</nav>
